/* General CSS */
body{
    text-align: center;
    overflow-x: hidden;
    padding-bottom: 50px;
}

.container {
    max-width: 1300px;
    margin: auto;
}

.invisible {
    visibility: hidden !important;
    position: absolute !important;
    top: -9999px !important;
}

/* Actions */
.actions {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 70px;
    background-color: #343A40;
}

.actions-btn {
    margin-right: 20px;
    margin-top: 15px;
}

@media screen and (max-width: 800px) {
    .actions-btn {
        margin-top: 15px; 
        margin-bottom: 15px; 
        padding: 5px;
        font-size: 95%;
    }
}